* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: #111;
}

.child1{
    height: 200px;
    width: 200px;
    background-color: beige;
}

.child2{
    height: 200px;
    width: 200px;
    background-color: rgb(53, 27, 80);
}

.child3{
    height: 200px;
    width: 200px;
    background-color: rgb(97, 97, 77);
}

.child4{
    height: 200px;
    width: 200px;
    background-color: rgb(243, 243, 102);
}