@keyframes ColorChanger {
  0% {
    background-color: red;
    top: 0px;
    left: 0px;
  }
  25% {
    background-color: pink;
    top: 0px;
    left: 300px;
  }
  50% {
    background-color: yellow;
    top: 300px;
    left: 300px;
  }
  75% {
    background-color: blue;
    left: 0px;
    top: 300px;
  }
  100% {
    background-color: green;
    left: 0px;
    top: 0px;
  }
}
@keyframes TruckAnimation {
  0% {
    left: -200px;
  }
  100% {
    left: 120%;
  }
}
.main {
  height: 300px;
  width: 300px;
  position: relative;
  background-color: rebeccapurple;
  border-radius: 5px;
  /* animation-name: ColorChanger; 
  animation-duration: 5s; */

  /* By using short form */
  animation: ColorChanger 5s 0s infinite linear;
}
.Truck img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  position: fixed;
  bottom: 0;
  left: -200px;
  animation: TruckAnimation 4s linear 0s infinite;
}
