body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box {
  height: 150px;
  width: 150px;
  background-color: bisque;
  border-radius: 40%;
  animation: Rotate 2s linear infinite;
}
